body {
    background: #006d4c;
    color: #fdfdfd;
    padding: 80px 0;
  }

h1 {
    text-align: center;
    padding-bottom: 20px;
    color: #fffffff3;
}
.flex-outer {
    max-width: 800px;
    padding: 0 16px;
  }
  
.flex-outer li, .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
.flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
.flex-outer li label, .flex-outer li p {
    padding: 8px;
    font-weight: 400;
  }

.flex-outer > li > label, .flex-outer li p {
    flex: 1 0 125px;
    max-width: 225px;
  }
  
.flex-outer > li > label + *, .flex-inner {
    flex: 1 0 225px;
  }

.flex-outer li button {
    padding: 6px 12px;
    background: rgb(0, 0, 0);
    color: #fffffff3;
    text-transform: uppercase;
    border-radius: 3px;
    letter-spacing: 1.2px;
    margin-right: 10px;
  }
  
.flex-inner li {
    width: 95px;
  }